* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.mainCalc {
  width: 200px;
  margin: auto;
  padding: 100px;
  display: flex;
  flex-direction: column;
}
.numbers {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.buttons {
  display: flex;
  flex-direction: column;
  width: 200px;
}
.operators button {
  background-color: yellow;
}
.numbers button {
  background-color: aqua;
}
